<!-- Footer -->
<footer>
    <span>
        <a routerLink="/home" title="Home">
            https://benwaar-art.web.app
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/benwaar/art"
        title="Benwaar's Art project on Gitlab">https://gitlab.com/benwaar/art</a>
    </span>
    <div class="spacer"></div>
    <span>
        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/benwaar"
            title="Benwaar on Twitter">Twitter</a>
        <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/benwaar"
            title="Benwaar on Instagram">Instagram</a>
    </span>
</footer>