<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a routerLink="/home" title="{{ title }}">
        <img width="40" alt="Benwaar-Art Logo" src='../assets/icons/icon.svg' />
    </a>
    <span>
        <h2>{{ title }}</h2>
    </span>
    <div class="spacer"></div>
    <a aria-label="Benwaar on Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/benwaar"
        title="Benwaar on Twitter">
        <svg id="twitter-logo" class="social-link" data-name="TwitterLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <rect width="400" height="400" fill="none" />
            <path
                d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
                fill="#fff" />
        </svg>
    </a>
    <a aria-label="Benwaar on Instagram" target="_blank" rel="noopener noreferrer" href="https://instagram.com/benwaar"
        title="Benwaar on Instagram">
        <svg id="instagram-logo" class="social-link" data-name="InstagramLogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <rect width="400" height="400" fill="none" />
            <path d="M32,6.6c8.3,0,9.3,0,12.5,0.2c3,0.1,4.7,0.6,5.8,1.1c1.4,0.6,2.5,1.2,3.6,2.3c1.1,1.1,1.8,2.1,2.3,3.6
            c0.4,1.1,0.9,2.7,1.1,5.8c0.1,3.3,0.2,4.2,0.2,12.5s0,9.3-0.2,12.5c-0.1,3-0.6,4.7-1.1,5.8c-0.6,1.4-1.2,2.5-2.3,3.6
            c-1.1,1.1-2.1,1.8-3.6,2.3c-1.1,0.4-2.7,0.9-5.8,1.1c-3.3,0.1-4.2,0.2-12.5,0.2s-9.3,0-12.5-0.2c-3-0.1-4.7-0.6-5.8-1.1
            c-1.4-0.6-2.5-1.2-3.6-2.3c-1.1-1.1-1.8-2.1-2.3-3.6c-0.4-1.1-0.9-2.7-1.1-5.8C6.6,41.3,6.6,40.3,6.6,32s0-9.3,0.2-12.5
            c0.1-3,0.6-4.7,1.1-5.8c0.6-1.4,1.2-2.5,2.3-3.6c1.1-1.1,2.1-1.8,3.6-2.3c1.1-0.4,2.7-0.9,5.8-1.1C22.7,6.6,23.7,6.6,32,6.6 M32,1
            c-8.4,0-9.5,0-12.8,0.2c-3.3,0.2-5.6,0.7-7.5,1.4c-2,0.8-3.8,1.9-5.5,3.6c-1.7,1.7-2.8,3.5-3.6,5.5c-0.8,2-1.3,4.2-1.4,7.5
            C1,22.5,1,23.6,1,32c0,8.4,0,9.5,0.2,12.8c0.2,3.3,0.7,5.6,1.4,7.5c0.8,2,1.9,3.8,3.6,5.5c1.7,1.7,3.5,2.8,5.5,3.6
            c2,0.8,4.2,1.3,7.5,1.4C22.5,63,23.6,63,32,63s9.5,0,12.8-0.2c3.3-0.2,5.6-0.7,7.5-1.4c2-0.8,3.8-1.9,5.5-3.6
            c1.7-1.7,2.8-3.5,3.6-5.5c0.8-2,1.3-4.2,1.4-7.5C63,41.5,63,40.4,63,32s0-9.5-0.2-12.8c-0.2-3.3-0.7-5.6-1.4-7.5
            c-0.8-2-1.9-3.8-3.6-5.5c-1.7-1.7-3.5-2.8-5.5-3.6c-2-0.8-4.2-1.3-7.5-1.4C41.5,1,40.4,1,32,1L32,1z"
            fill="#fff" />
        <path d="M32,16.1c-8.8,0-15.9,7.1-15.9,15.9S23.2,47.9,32,47.9S47.9,40.8,47.9,32S40.8,16.1,32,16.1z M32,42.3
            c-5.7,0-10.3-4.6-10.3-10.3c0-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C42.3,37.7,37.7,42.3,32,42.3z" 
            fill="#fff"/>
        <circle cx="48.5" cy="15.5" r="3.7" fill="#fff"/>
        </svg>
    </a>
</div>