<div class="content" role="main">
    <div>
        <p id='intro'>Hello and welcome! Here are a few of my generative art and creative coding sketches. Feedback is
            always welcome via <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/benwaar"
                title="Benwaar on Twitter">Twitter</a> or <a target="_blank" rel="noopener noreferrer"
                href="https://instagram.com/benwaar" title="Benwaar on Instagram">Instagram</a> and thanks for stopping
            by.
        </p>
    </div>

    <div class="card-list">
        <ng-container *ngFor="let artwork of artworks">
            <div class="class='card">
                <a rel="noopener" routerLink="{{ artwork.route }}">
                    <img src="{{ artwork.thumbnail }}" title="{{ artwork.name }}" class="thumbnail-icons">
                </a>
            </div>
        </ng-container>
    </div>

</div>