#intro {
    padding: 30px;
}

.thumbnail-icons {
    height: 150px;
    width: auto;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
}

.card-list > * {
    box-sizing: border-box;
}

.card-list > *:not(:last-child) {
    margin-right: 32px;
}

.card {
    //flex: 0 1 calc(33.3% - 32px);
    background-color: lightblue;
}

