<div class="content" role="main">
    <h1>{{title}}</h1>
    <div class="border">
        <div class="frame">
            <div id="canvasContainer"></div>
        </div>
    </div>
    <span>
        <a routerLink='/' title='Home'><svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" /></svg>
        </a>
        <a href="{{source}}" title='Source'><svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <g>
                    <rect fill="none" height="24" width="24" />
                    <path
                        d="M20,6h-8l-2-2H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8C22,6.9,21.1,6,20,6z M14,16H6v-2h8V16z M18,12H6v-2h12V12z" />
                </g>
            </svg>
        </a>
    </span>
</div>